html, body, div, span,h1, h2, h3, h4, h5, h6, p,
a, em, img, q, s, small, strong,b, u, i,dl, dt, 
dd, ol, ul, li,form, label,table, caption, tbody,
tfoot, thead, tr, th, td,article,footer, header, 
menu, nav,section, time, audio, video,button ,input,textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Microsoft YaHei";
	font-weight: normal;
	vertical-align: baseline;
	text-decoration: none;
	line-height: 1.2
}
a {
    display: inline-block;
    text-decoration: none;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clear {
    clear: both;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfloat {
    zoom: 1;
}
.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    overflow: hidden;
    height: 0;
}
.spill {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.multiSpill {
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* -webkit-line-clamp:3;*/
    
    overflow: hidden;
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
}
input:focus {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
select:focus {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
textarea:focus {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
button:focus {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
.wrapper {
    width: 1160px;
    margin: 0 auto;
}
.container img {
    width: 100%;
    display: block;
}
button {
    cursor: pointer;
}
select {
    cursor: pointer;
}
input type:checkbox {
    cursor: pointer;
}
input type:radiobox {
    cursor: pointer;
}
.bgcolor {
    background: #f7f7f7;
}
/*links*/

.hederbottom {
    background: #0074FF;
}
.links {
    padding: 70px 0px 85px 0px;
}
.links a {
    color: #f6f6f6;
    font-size: 14px;
}
.links span {
    margin: 0 5px;
    display: inline-block;
    color: #f6f6f6;
}
.topContainer {
    margin-top: 92px;
}
/*header starts here*/

.header {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 3px solid #0074FF;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .14);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .14);
    box-shadow: 0 0 10px rgba(0, 0, 0, .14);
    background: #ffffff;
    z-index: 1000;
}
.header img {
    width: 100%;
    display: block;
}
.header .logo {
    width: 138px;
    padding: 26px 0;
}
.header ul li {
    float: left;
    font-size: 16px;
    padding: 35px 22px 35px 22px;
    cursor: pointer;
}
.header ul li.active {
    background: #0074FF;
}
.header ul li.active a {
    color: #fff;
}
.header ul li a {
    color: #666666;
    font-size: 16px;
}
.header ul li:hover {
    background: #0074FF;
    color: #fff;
}
.header ul li:hover a {
    color: #fff;
    font-size: 16px;
}
.header .midList {
    width: 620px;
    margin: 0 100px 0 80px;
}
.header .rightSec {
    width: 133px;
    padding: 17px 0;
}
.header .rightSec h1 {
    color: #0074FF;
    font-size: 12px;
    text-align: center;
}
.header .rightSec .subText {
    color: #0074FF;
    font-size: 14px;
    display: inline-block;
    border: 1px solid #0074FF;
    padding: 6px 15px;
    border-radius: 14px;
    text-align: center;
    margin: 5px 0;
}
/*header ends here*/
/*footer starts here*/

.footer {
    background: #222222;  
    min-width: 1320px;
	margin-top:-70px;
}
.footer img {
    width: 100%;
    display: block;
}
.footer .subfooter .footerrgt h2 {
    font-size: 12px;
    color: #dddddd;
    margin-top: 5px;
}
.footer .subfooter {
    padding: 10px 0px;
}
.footer .subfooter .footerrgt .footerqq {
    width: 95px;
}
.footer .subfooter .footerlft ul {
    padding-top: 20px;
}
.footer .subfooter .footerlft ul li {
    float: left;
}
.footer .subfooter .footerlft ul li a {
    font-size: 14px;
    color: #aaaaaa;
    margin-right: 15px;
}
.footer .subfooter .footerlft h1 {
    font-size: 14px;
    color: #ffffff;
    opacity: .2;
    margin-top: 13px;
}
/*tabsection statrs*/

.container {
    min-width: 1320px;
}
.MainTab {
    width: 100%;
}
.maincont {
    width: 1078px;
    margin: 0 auto;
}
.MainTab .TabbedPanelsTabGroup {
    width: 73%;
    margin: 0 auto;
}
.TabbedPanelsContentGroup {
    border-top: 2px solid #eeeeee;
    margin-top: -2px;
}
.MainTab .TabbedPanelsTab {
    float: left;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    color: #0074FF;
    width: 70px;
    padding: 24px 0;
    margin: 0 63px;
    outline: none;
}
.MainTab .TabbedPanelsTabSelected {
    outline: none;
    color: #333333;
    border-bottom: 3px solid #0074FF;
}
/*tabsection ends*/
/*footer ends here*/
/*mapSection starts*/

.mapContent .move {
    animation: move 2s linear infinite;
    -ms-animation: move 2s linear infinite;
}
@keyframes move {
    0% {
        transform: scale(0.5, 0.5);
    }
    50% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(0.5, 0.5);
    }
}
.mapContent .map {
    width: 688px;
    margin: 0 auto;
    position: relative;
}
.mapContent .mapbox {
    width: 726px;
    margin: 0 auto;
}
.mapContent .mapbox li {
    color: #666666;
    font-size: 14px;
    float: left;
    padding: 10px 15px;
    margin: 0 10px;
    cursor: pointer;
}
.mapContent .mapbox li span {
    width: 5px;
    height: 12px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
    z-index: 10;
}
.mapContent .clickone {
    background: #f08eb3;
}
.mapContent .clicktwo {
    background: #c292e4;
}
.mapContent .clickthree {
    background: #9ad1f4;
}
.mapContent .clickfour {
    background: #fcb150;
}
.mapContent .clickfive {
    background: #add790;
}
.mapContent .clicksix {
    background: #0074FF;
}
/**/

.mapContent .map span {
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    z-index: 1;
}
.mapContent .rightDot {
    left: 58% !important;
}
.mapContent .leftMov {
    left: 7% !important;
}
/**/

.mapContent .p1 {
    background: #f08eb3 !important;
}
.mapContent .p2 {
    background: #000 !important;
}
/**/

.mapContent .clickfourmaincon {
    position: absolute;
}
.mapContent .clickfourcona {
    width: 107px;
    height: 107px;
    border: 1px solid rgba(216, 83, 133, 0.2);
    background: rgba(240, 142, 179, 0.2);
    border-radius: 50%;
    position: relative;
}
.mapContent .clickfourconb {
    width: 84px;
    height: 84px;
    border: 1px solid rgba(216, 83, 133, 0.2);
    background: rgba(240, 142, 179, 0.2);
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.mapContent .clickfourmaincon span {
    top: 45%;
    right: 0;
    left: 0;
    margin: 0 auto;
    border: 1px solid #da5a8b;
    background: #f08eb3;
}
.mapContent .clickfourmaincon h1 {
    position: absolute;
    top: 44%;
    left: 21%;
    color: #333333;
    font-size: 12px;
    z-index: 10;
}
.mapContent .clickoneone {
    bottom: 7%;
    right: 14%;
}
.mapContent .clickonetwo {
    bottom: 30%;
    right: 9%;
}
.mapContent .clickonethree {
    bottom: 36%;
    right: 19.5%;
}
.mapContent .clickonefour {
    bottom: 10%;
    right: 41%;
}
.mapContent .clickonefive {
    bottom: 22%;
    right: 38%;
}
/**/

.mapContent .havefour {
    left: 59% !important;
}
#fistdisplay,
#seconddisplay,
#thirddisplay,
#fourdisplay,
#fivedisplay,
#sixdisplay {
    display: none;
}
.mapContent .clicktwoone .clickfourcona {
    background: rgba(194, 146, 228, 0.2);
    border: 1px solid rgba(156, 98, 197, .2);
}
.mapContent .clicktwoone .clickfourconb {
    background: rgba(194, 146, 228, 0.5);
    border: 1px solid rgba(156, 98, 197, .5);
}
#seconddisplay .one {
    bottom: 6%;
    right: 14%;
}
#seconddisplay .two {
    bottom: 26%;
    right: 3%;
}
#seconddisplay .three {
    bottom: 46%;
    right: 7%;
}
.mapContent .clicktwoone span {
    background: #c292e4;
    border: 1px solid #9d65c6;
}
.mapContent .clickthreeone span {
    background: #9ad1f4;
    border: 1px solid #589cc8;
}
.mapContent .clickthreeone .clickfourcona {
    background: rgba(154, 209, 244, 0.2);
    border: 1px solid rgba(91, 158, 201, 0.2);
}
.mapContent .clickthreeone .clickfourconb {
    background: rgba(154, 209, 244, 0.2);
    border: 1px solid rgba(91, 158, 201, 0.2);
}
#thirddisplay .one {
    bottom: 21.5%;
    right: 5.5%;
}
#thirddisplay .two {
    bottom: 26.5%;
    right: 5.5%;
}
#thirddisplay .three {
    bottom: 31.5%;
    right: 7.5%;
}
#thirddisplay .four {
    bottom: 48%;
    right: 16.5%;
}
#thirddisplay .thirdTxt {
    left: 20% !important;
    top: 43% !important;
}
/*new section4 starts*/

.mapContent .clickfourone span {
    background: #fcb150;
    border: 1px solid #e78d17;
}
.mapContent .clickfourone .clickfourcona {
    background: rgba(252, 177, 80, 0.2);
    border: 1px solid rgba(231, 142, 28, 0.2);
}
.mapContent .clickfourone .clickfourconb {
    background: rgba(252, 177, 80, 0.5);
    border: 1px solid rgba(231, 142, 28, 0.5);
}
#fourdisplay .one {
    top: 5%;
    right: 0%;
}
#fourdisplay .two {
    top: 15%;
    right: -1%;
}
#fourdisplay .three {
    top: 24%;
    right: 6%;
}
#fourdisplay .four {
    top: 35%;
    right: 7%;
}
#fourdisplay .five {
    top: 44%;
    right: 18%;
}
#fourdisplay .six {
    top: 50%;
    right: 12%;
}
#fourdisplay .seven {
    top: 52%;
    right: 21%;
}
#fourdisplay .eight {
    top: 60%;
    right: 23%;
}
#fourdisplay .nine {
    top: 61%;
    right: 14%;
}
#fourdisplay .ten {
    bottom: 9%;
    right: 14%;
}
#fourdisplay .eleven {
    bottom: 4%;
    right: 29%;
}
/*new section4 ends*/

.mapContent .clickfiveone span {
    background: #add790;
    border: 1px solid #7db657;
}
.mapContent .clickfiveone .clickfourcona {
    background: rgba(173, 215, 144, 0.2);
    border: 1px rgba(125, 182, 87, 0.2);
}
.mapContent .clickfiveone .clickfourconb {
    background: rgba(173, 215, 144, 0.5);
    border: 1px rgba(125, 182, 87, 0.5);
}
#fivedisplay .one {
    bottom: 28%;
    right: 2%;
}
#fivedisplay .two {
    bottom: 6%;
    right: 17%;
}
.mapContent .clicksixone span {
    background: #0074FF;
    border: 1px solid #a88949;
}
.mapContent .clicksixone .clickfourcona {
    background: rgba(206, 173, 106, 0.2);
    border: 1px solid rgba(168, 137, 73, 0.2);
}
.mapContent .clicksixone .clickfourconb {
    background: rgba(206, 173, 106, 0.5);
    border: 1px solid rgba(168, 137, 73, 0.5);
}
#sixdisplay .one {
    top: 30%;
    right: 14%;
}
#sixdisplay .two {
    top: 55%;
    right: 3%;
}
#sixdisplay .three {
    bottom: 22%;
    right: 5%;
}
#sixdisplay .four {
    bottom: 14%;
    right: 7%;
}
#sixdisplay .five {
    bottom: 9%;
    right: 16%;
}
#sixdisplay .six {
    bottom: 6%;
    right: 14%;
}
.mapContent .wh {
    background: #fff;
}
.mapContent .posonecl {
    position: absolute;
    padding: 10px;
    bottom: 7%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #f0f0f0;
    display: none;
    width: 163px;
    text-align: center;
    font-size: 14px;
    color: #333333;
}
.mapContent .posonecla {
    position: absolute;
    padding: 10px;
    bottom: 7%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #f0f0f0;
    display: none;
    width: 163px;
    text-align: center;
    font-size: 14px;
    color: #333333;
}
.mapContent .posoneclb {
    position: absolute;
    padding: 10px;
    bottom: 7%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #f0f0f0;
    display: none;
    width: 163px;
    text-align: center;
    font-size: 14px;
    color: #333333;
}
.mapContent .posoneclc {
    position: absolute;
    padding: 10px;
    bottom: 7%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #f0f0f0;
    display: none;
    width: 382px;
    text-align: center;
    font-size: 14px;
    color: #333333;
}
.mapContent .posonecld {
    position: absolute;
    padding: 10px;
    bottom: 7%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #f0f0f0;
    display: none;
    width: 207px;
    text-align: center;
    font-size: 14px;
    color: #333333;
}
.mapContent .posonecle {
    position: absolute;
    padding: 10px;
    bottom: 7%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #f0f0f0;
    display: none;
    width: 163px;
    text-align: center;
    font-size: 14px;
    color: #333333;
}
.mapContent .spspo {
    display: block;
    position: absolute;
    top: -16px;
    width: 18px !important;
    right: 39%;
}
/*mapSection ends*/

@media (max-width: 1024px) {
    .header .midList {
        margin: 0 25px !important;
    }
    .footer .wrapper {
        width: 990px;
    }
}
