.tabfloat li{
    float:left;
    margin-top:20px;
    margin-left:20px;
    margin-bottom:20px;
    border:1px solid black;
    width:200px;
    height:30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
/* .tabfloat li:hover{
    cursor: pointer;
    background:gray;
} */
.TabbedPanelsTabHover{
    cursor: pointer;
    background:gray;
}
.TabbedPanelsTabSelected{
    background:orange;
    color:white;
}
.container img {
    width: 100%;
    display: block;
}
.TabbedPanelsContentGroup ul{
    margin:30px 40px;
}
.tab1 ul{
    
}
.tab1 li{
    margin-bottom:30px;
}
.rcontent{
    margin-left:40px;
    width:800px;
}
.rcontent p{
    margin-top:30px;


}
h3{
    font-size:20px;
}
.tab2 li{
    width:300px;
    height:260px;
    margin-right:50px;
    margin-bottom:80px;
}
.tab2 li video{
    width:300px;
    height:200px
}
.mar-l{
    /* margin-left:10px; */
}
.tab2 p{
    margin-top:12px;
    word-wrap:break-word;
    word-break:normal;  
}